@font-face {
  font-family: "Inter";
  src: url("src/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("src/fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("src/fonts/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("src/images/bg.png");
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 32px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  color: white;
}

.nav-section {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  font-weight: 600;
  font-size: 18px;
}

.nav-links {
  display: flex;
  gap: 24px;
}

.nav-links a {
  text-decoration: none;
  color: #ccc;
  font-size: 0.875rem;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: white;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-radius: 5px;
  background-color: #293338;
}

.social-icons img {
  opacity: 0.8;
  transition: opacity 0.3s;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}

.social-icons img:hover {
  opacity: 1;
}

.glass-card {
  padding: 12px 24px 12px 24px;
  border-radius: 18%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: inset 4px 4px 8px rgba(255, 255, 255, 0.25),
    inset -4px -4px 8px rgba(255, 255, 255, 0.25),
    0 8px 32px 0 rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
}

.glass-card .content {
  text-align: center;
}

.profile {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 8px;
}

.profile-title {
  font-size: 1.375rem;
  font-weight: bold;
}

.profile-text {
  font-size: 1rem;
  font-weight: 400;
}

.profile-section {
  padding: 32px;
}

.profile-summary {
  color: white;
  font-size: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}
